<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="StudyTime"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".FinishActivity"></activity>
        <activity android:name=".AnalogQuiz5" />
        <activity android:name=".AnalogQuiz4" />
        <activity android:name=".AnalogQuiz3" />
        <activity android:name=".AnalogQuiz2" />
        <activity android:name=".AnalogQuiz" />
        <activity android:name=".DigitalQuiz5" />
        <activity android:name=".DigitalQuiz4" />
        <activity android:name=".DigitalQuiz3" />
        <activity android:name=".DigitalQuiz2" />
        <activity android:name=".DigitalQuiz" />
        <activity android:name=".DigitalActivity5" />
        <activity android:name=".DigitalActivity4" />
        <activity android:name=".DigitalActivity3" />
        <activity android:name=".DigitalActivity2" />
        <activity android:name=".DigitalActivity" />
        <activity android:name=".AnalogActivity5" />
        <activity android:name=".AnalogActivity4" />
        <activity android:name=".AnalogActivity3" />
        <activity android:name=".AnalogActivity2" />
        <activity android:name=".AnalogActivity" />
        <activity android:name=".clockMenu" />
        <activity android:name=".l_end" />
        <activity android:name=".quiz_end" />
        <activity android:name=".quiz_z" />
        <activity android:name=".quiz_y" />
        <activity android:name=".quiz_x" />
        <activity android:name=".quiz_w" />
        <activity android:name=".quiz_v" />
        <activity android:name=".quiz_u" />
        <activity android:name=".quiz_t" />
        <activity android:name=".quiz_s" />
        <activity android:name=".quiz_r" />
        <activity android:name=".quiz_q" />
        <activity android:name=".quiz_p" />
        <activity android:name=".quiz_o" />
        <activity android:name=".quiz_n" />
        <activity android:name=".quiz_m" />
        <activity android:name=".quiz_l" />
        <activity android:name=".quiz_k" />
        <activity android:name=".quiz_j" />
        <activity android:name=".quiz_i" />
        <activity android:name=".quiz_h" />
        <activity android:name=".quiz_g" />
        <activity android:name=".quiz_f" />
        <activity android:name=".quiz_e" />
        <activity android:name=".quiz_d" />
        <activity android:name=".quiz_c" />
        <activity android:name=".quiz_b" />
        <activity android:name=".mathsTask36" />
        <activity android:name=".mathsTask35" />
        <activity android:name=".mathsTask34" />
        <activity android:name=".mathsTask33" />
        <activity android:name=".mathsTask32" />
        <activity android:name=".mathsTask31" />
        <activity android:name=".mathsTask30" />
        <activity android:name=".mathsTask29" />
        <activity android:name=".mathsTask28" />
        <activity android:name=".mathsTask27" />
        <activity android:name=".mathsTask26" />
        <activity android:name=".mathsTask25" />
        <activity android:name=".mathsTask24" />
        <activity android:name=".mathsTask23" />
        <activity android:name=".mathsTask22" />
        <activity android:name=".mathsTask21" />
        <activity android:name=".mathsTask20" />
        <activity android:name=".mathsTask19" />
        <activity android:name=".mathsTask18" />
        <activity android:name=".mathsTask17" />
        <activity android:name=".mathsTask16" />
        <activity android:name=".mathsTask15" />
        <activity android:name=".mathsTask14" />
        <activity android:name=".mathsTask13" />
        <activity android:name=".mathsTask12" />
        <activity android:name=".mathsTask11" />
        <activity android:name=".mathsTask10" />
        <activity android:name=".mathsTask9" />
        <activity android:name=".mathsTask8" />
        <activity android:name=".IntroductoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mathsTask7" />
        <activity android:name=".mathsTask6" />
        <activity android:name=".mathsTask5" />
        <activity android:name=".mathsTaks4" />
        <activity android:name=".mathsTask3" />
        <activity android:name=".mathsTask2" />
        <activity android:name=".mathsTask1" />
        <activity android:name=".quiz_a" />
        <activity android:name=".z" />
        <activity android:name=".y" />
        <activity android:name=".x" />
        <activity android:name=".w" />
        <activity android:name=".v" />
        <activity android:name=".u" />
        <activity android:name=".t" />
        <activity android:name=".s" />
        <activity android:name=".r" />
        <activity android:name=".q" />
        <activity android:name=".p" />
        <activity android:name=".o" />
        <activity android:name=".n" />
        <activity android:name=".m" />
        <activity android:name=".l" />
        <activity android:name=".k" />
        <activity android:name=".j" />
        <activity android:name=".i" />
        <activity android:name=".h" />
        <activity android:name=".g" />
        <activity android:name=".f" />
        <activity android:name=".e" />
        <activity android:name=".d" />
        <activity android:name=".c" />
        <activity android:name=".b" />
        <activity android:name=".a" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".cat" />
        <activity android:name=".catt2" />
        <activity android:name=".catw" />
        <activity android:name=".dog" />
        <activity android:name=".bird" />
        <activity android:name=".birdt2" />
        <activity android:name=".birdw" />
        <activity android:name=".horse" />
        <activity android:name=".horsew" />
        <activity android:name=".horset2" />
        <activity android:name=".dogT2" />
        <activity android:name=".dogw" />
        <activity android:name=".chicken" />
        <activity android:name=".chickenw" />
        <activity android:name=".chickent2" />
        <activity android:name=".butterfly" />
        <activity android:name=".butterflyw" />
        <activity android:name=".butterflyt2" />
        <activity android:name=".cow" />
        <activity android:name=".cowt2" />
        <activity android:name=".coww" />
        <activity android:name=".deer" />
        <activity android:name=".deert2" />
        <activity android:name=".deerW" />
        <activity android:name=".elephant" />
        <activity android:name=".elephantt2" />
        <activity android:name=".elephantw" />
        <activity android:name=".fish" />
        <activity android:name=".fishw" />
        <activity android:name=".fisht2" />
        <activity android:name=".fox" />
        <activity android:name=".foxw" />
        <activity android:name=".foxt2" />
        <activity android:name=".giraffe" />
        <activity android:name=".giraffew" />
        <activity android:name=".giraffet2" />
        <activity android:name=".goat" />
        <activity android:name=".goatw" />
        <activity android:name=".goatt2" />
        <activity android:name=".hamster" />
        <activity android:name=".hamsterw" />
        <activity android:name=".hamstert2" />
        <activity android:name=".hedgehog" />
        <activity android:name=".hedgehogt2" />
        <activity android:name=".hedgehogw" />
        <activity android:name=".ladybugs" />
        <activity android:name=".ladybugw" />
        <activity android:name=".ladybugt2" />
        <activity android:name=".lamb" />
        <activity android:name=".lambt2" />
        <activity android:name=".lambw" />
        <activity android:name=".lion" />
        <activity android:name=".lionw" />
        <activity android:name=".liont2" />
        <activity android:name=".monkey" />
        <activity android:name=".monkeyt2" />
        <activity android:name=".monkeyw" />
        <activity android:name=".mouse" />
        <activity android:name=".mouset2" />
        <activity android:name=".mousew" />
        <activity android:name=".rabbit" />
        <activity android:name=".rabbitw" />
        <activity android:name=".rabbitt2" />
        <activity android:name=".tiger" />
        <activity android:name=".tigert2" />
        <activity android:name=".tigerw" />
        <activity android:name=".turtle" />
        <activity android:name=".turtlet2" />
        <activity android:name=".turtlew" />
    </application>

</manifest>