<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".mathsTask12"></activity>
        <activity android:name=".mathsTask11" />
        <activity android:name=".mathsTask10" />
        <activity android:name=".mathsTask9" />
        <activity android:name=".mathsTask8" />
        <activity android:name=".IntroductoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mathsTask7" />
        <activity android:name=".mathsTask6" />
        <activity android:name=".mathsTask5" />
        <activity android:name=".mathsTaks4" />
        <activity android:name=".mathsTask3" />
        <activity android:name=".mathsTask2" />
        <activity android:name=".mathsTask1" />
        <activity android:name=".quiz" />
        <activity android:name=".z" />
        <activity android:name=".y" />
        <activity android:name=".x" />
        <activity android:name=".w" />
        <activity android:name=".v" />
        <activity android:name=".u" />
        <activity android:name=".t" />
        <activity android:name=".s" />
        <activity android:name=".r" />
        <activity android:name=".q" />
        <activity android:name=".p" />
        <activity android:name=".o" />
        <activity android:name=".n" />
        <activity android:name=".m" />
        <activity android:name=".l" />
        <activity android:name=".k" />
        <activity android:name=".j" />
        <activity android:name=".i" />
        <activity android:name=".h" />
        <activity android:name=".g" />
        <activity android:name=".f" />
        <activity android:name=".e" />
        <activity android:name=".d" />
        <activity android:name=".c" />
        <activity android:name=".b" />
        <activity android:name=".a" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".cat" />
        <activity android:name=".cat_t" />
        <activity android:name=".cat_w" />
        <activity android:name=".dog" />
        <activity android:name=".dog_t" />
        <activity android:name=".dog_w" />
        <activity android:name=".chicken" />
        <activity android:name=".chickent" />
        <activity android:name=".chickenw" />
        <activity android:name=".butterfly" />
        <activity android:name=".butterflyt" />
        <activity android:name=".butterflyw" />
        <activity android:name=".cow" />
        <activity android:name=".coww" />
        <activity android:name=".cowt" />
        <activity android:name=".deer" />
        <activity android:name=".deerw" />
        <activity android:name=".deert" />
        <activity android:name=".elephant" />
        <activity android:name=".elephantw" />
        <activity android:name=".elephantt" />
        <activity android:name=".fish" />
        <activity android:name=".fisht" />
        <activity android:name=".fishw" />
        <activity android:name=".fox" />
        <activity android:name=".foxt" />
        <activity android:name=".foxw" />
        <activity android:name=".giraffe" />
        <activity android:name=".giraffet" />
        <activity android:name=".giraffew" />
        <activity android:name=".goat" />
        <activity android:name=".goatt" />
        <activity android:name=".goatw" />
        <activity android:name=".hamster" />
        <activity android:name=".hamstert" />
        <activity android:name=".hamsterw" />
        <activity android:name=".hedgehog" />
        <activity android:name=".hedgehogw" />
        <activity android:name=".hedgehogt" />
        <activity android:name=".horse" />
        <activity android:name=".horset" />
        <activity android:name=".horsew" />
        <activity android:name=".ladybug" />
        <activity android:name=".ladybugt" />
        <activity android:name=".ladybugw" />
        <activity android:name=".lamb" />
        <activity android:name=".lambw" />
        <activity android:name=".lambt" />
        <activity android:name=".lion" />
        <activity android:name=".liont" />
        <activity android:name=".lionw" />
        <activity android:name=".monkey" />
        <activity android:name=".monkeyw" />
        <activity android:name=".monkeyt" />
        <activity android:name=".mouse" />
        <activity android:name=".mousew" />
        <activity android:name=".mouset" />
        <activity android:name=".rabbit" />
        <activity android:name=".rabbitt" />
        <activity android:name=".rabbitw" />
        <activity android:name=".tiger" />
        <activity android:name=".tigerw" />
        <activity android:name=".tigert" />
        <activity android:name=".turtle" />
        <activity android:name=".turtlew" />
        <activity android:name=".turtlet" />

    </application>

</manifest>